.content {
    background-color: #1eb07f;

}
.btnLink {
    font-size: 30px;
    text-decoration: none;
    color: dodgerblue;
}
.active {
    color: firebrick;
}
.ul {
    list-style-type: none;
    margin: auto 0;
    padding: 0;
    grid-area: people;
}