.gridContainer{
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 1fr;
    grid-template-areas:
            "people messages"
            "people messages"
            "people newmessage";
}
.me {
    display: grid;
}
.content {
    display: grid;
    background-color: #1eb07f;
    grid-area: newmessage;
}
